# Class 2 Lecture/Demo Examples

### Primary new topics include lists, tuples, dictionaries, intro file I/O. More on debugging & exception handling

## Lists
Lists are MUTABLE.  So we CAN change or assign to one or more items within an existing list.
Lists can contain ANY mixture of data types, including other lists.  In other words, each ITEM in a list can be any data type, nested with no limits other than memory. So they are extremely flexible.

In [1]:
fruit = ['apple', 'orange', 'banananana']
print(fruit)
fruit[2] = 'banana'  # correct the spelling of item #2
print(fruit)

['apple', 'orange', 'banananana']
['apple', 'orange', 'banana']

In [2]:
fruit.append('tomato')  # this is how to add an item to the end of a list.
print(fruit)

['apple', 'orange', 'banana', 'tomato']

In [3]:
fruit.append('starfruit', 'tangerine', 'kiwi')  # But this is invalid.

TypeError: append() takes exactly one argument (3 given)

Instead, to add multiple items to a list at once, just concatenate 2 lists:

In [8]:
fruit += ['starfruit', 'tangerine', 'kiwi']
fruit

['apple', 'orange', 'banana', 'tomato', 'starfruit', 'tangerine', 'kiwi']

Lists are a "sequence" data type, so we can iterate through them:

In [9]:
for f in fruit:
    print(f, 'is a fruit')

apple is a fruit
orange is a fruit
banana is a fruit
tomato is a fruit
starfruit is a fruit
tangerine is a fruit
kiwi is a fruit

We can also use the slicing / striding operations like we did on strings:

In [10]:
fruit[::-1]   # compute the reverse of the list

['kiwi', 'tangerine', 'starfruit', 'tomato', 'banana', 'orange', 'apple']

In [11]:
fruit

['apple', 'orange', 'banana', 'tomato', 'starfruit', 'tangerine', 'kiwi']

In [12]:
fruit[::3]  # "Striding" extract every 3rd item from the list

['apple', 'tomato', 'kiwi']

In [13]:
fruit[-3:]  # get the last 3 items

['starfruit', 'tangerine', 'kiwi']

In [14]:
fruit[0]

'apple'

**Copying lists requires that you are careful. In many situations you'll get another symbol pointing to the same object instead of what you expected:**

In [15]:
x = 5.3
y = x
print(y)

5.3

In [16]:
x = 7.2
print(x)
print(y)

7.2
5.3

In [17]:
other_fruits = fruit   # try to copy the list
print(other_fruits)    # check its contents
fruit[4] = 'kumquat'   # replace a member of fruit
print(other_fruits)    # what just happened!?  I didn't mean to modify other_fruits!

['apple', 'orange', 'banana', 'tomato', 'starfruit', 'tangerine', 'kiwi']
['apple', 'orange', 'banana', 'tomato', 'kumquat', 'tangerine', 'kiwi']

Let's try that code in the Online Python Visualizer to help understand what's really happening.
http://www.pythontutor.com/visualize.html#mode=edit

### Shallow Copies
So, if you really mean to make a COPY of a list instead of just another pointer to it, usually the copy() method is what you need.  However, this is still what's called a "shallow copy":

In [18]:
other_fruits = fruit.copy()  
print(other_fruits)
fruit.remove('tomato')   # modify the fruit list
print(fruit)
print(other_fruits)

['apple', 'orange', 'banana', 'tomato', 'kumquat', 'tangerine', 'kiwi']
['apple', 'orange', 'banana', 'kumquat', 'tangerine', 'kiwi']
['apple', 'orange', 'banana', 'tomato', 'kumquat', 'tangerine', 'kiwi']

Yes!  Notice that now 'tomato' is gone from fruit but still exists in other_fruits.  But that only works when the list is NOT nested.

### Shallow Copies vs Deep Copies
In more complex data structures, where there are nested objects within the list, to get a completely independent copy of the whole list, you'd need to use the copy module's deepcopy() function to work around that.  First, let's see how a fairly simple nested list is affected by the copy() method, to understand what a "shallow copy" is:

In [22]:
a = [1, 2, 3, ['cat', 'dog', 'horse']]
print(a)
b = a.copy()

a.append(4)  # add something to list a to see if it shows up in b
a[3][1] = 'giraffe'  # modify a part of the nested list as a test
a[1] = 5

print(a)

[1, 2, 3, ['cat', 'dog', 'horse']]
[1, 5, 3, ['cat', 'giraffe', 'horse'], 4]

In [23]:
print(b)

[1, 2, 3, ['cat', 'giraffe', 'horse']]

Clearly, modifying the 'dog' value in a's inner list still accidentally modified that part of list b, but the 4 that was appended does not show up because that was a new top-level item in a.  This also should make more sense when viewed through the Python Visualizer.

### Demonstrating a true deep copy

In [21]:
from copy import deepcopy  # import this standard function so we can use it

a = [1, 2, 3, ['cat', 'dog', 'horse']]
print(a)
b = deepcopy(a)  # make a DEEP copy of a this time.

a.append(4)  # add something to list a to see if it shows up in b
a[3][1] = 'giraffe'  # modify a part of the nested list as a test

print(a)
print(b)

x = []

[1, 2, 3, ['cat', 'dog', 'horse']]
[1, 2, 3, ['cat', 'giraffe', 'horse'], 4]
[1, 2, 3, ['cat', 'dog', 'horse']]

## Tuples
Tuples are IMMUTABLE like strings.  But they are still sequences of zero or more items, so they are iterable.
Like lists, the items in tuples can be ANY data type, including other nested tuples. 
They are created by enclosing comma-separated items in parethenses.

In [26]:
deciduous = ('white oak', 'black walnut', 'red maple', 'silver maple', 'cottonwood')
evergreen = ('holly', 'white pine', 'red cedar', 'blue spruce', 'hemlock')
empty_tuple = ()
one_item_tuple = (1, )   # notice the strange hanging comma here. It's REQUIRED.
two_item_tuple = (1, 2)

test = (1 + 5) * 3

print(test)
print(one_item_tuple)
print(type(test))
print(type(one_item_tuple))

(6, 6, 6)
(6, 6, 6)
(1,)
<class 'tuple'>
<class 'tuple'>

In [ ]:
x = ('some string')
x

We can use indexing and slicing just as with strings and lists:

In [27]:
print(deciduous[0:3])

('white oak', 'black walnut', 'red maple')

In [28]:
trees = deciduous + evergreen  # we can concatenate tuples, they retain sequence.
trees
# print(type(trees))

('white oak',
 'black walnut',
 'red maple',
 'silver maple',
 'cottonwood',
 'holly',
 'white pine',
 'red cedar',
 'blue spruce',
 'hemlock')

In [34]:
tuple(sorted(trees, reverse=True))  # we can use the builtin sorted() function on any iterable type.

('white pine',
 'white oak',
 'silver maple',
 'red maple',
 'red cedar',
 'holly',
 'hemlock',
 'cottonwood',
 'blue spruce',
 'black walnut')

## type conversion
It is easy to convert lists to tuples and vice versa:

In [32]:
tree_list = list(trees)
tree_list

['white oak',
 'black walnut',
 'red maple',
 'silver maple',
 'cottonwood',
 'holly',
 'white pine',
 'red cedar',
 'blue spruce',
 'hemlock']

In [33]:
fruit_tuple = tuple(fruit)
# fruit_tuple
tuple(sorted(fruit_tuple))

('apple', 'banana', 'kiwi', 'kumquat', 'orange', 'tangerine')

## Mutability & Immutability
What happens when mutable objects contain immutable objects?

In [37]:
test = [5, 3.14159, 'string', ['a', 'b', 'c'], (1, 2, 3, 4)]
test
test[3][1] = 'something completely different'
test

[5,
 3.14159,
 'string',
 ['a', 'something completely different', 'c'],
 (1, 2, 3, 4)]

In [38]:
test[4][3] = 47

TypeError: 'tuple' object does not support item assignment

In [ ]:
# this is not valid, because it tries to modify PART of a tuple stored within the list.
test[4][3] = 8

Note though we can delete or replace the WHOLE tuple without violating the immutability

In [39]:
test[4] = (1, 2, 3, 8)

In [40]:
test

[5,
 3.14159,
 'string',
 ['a', 'something completely different', 'c'],
 (1, 2, 3, 8)]

In [41]:
del test[4]

In [42]:
test

[5, 3.14159, 'string', ['a', 'something completely different', 'c']]

# Dictionaries
Dictionaries in Python are essentially the same as data types called "Hash Maps" or "Associative Arrays" in other programming languages. They actually store a set of key/value pairs.  They work like a list or array except that their indexes (called "keys") can be arbitrary values that aren't necessarily integers. Also, the indexes don't have to be consecutive in any sense, and can even vary data types. Dictionaries turn out to be very handy for many common situations in coding. They are also generally fast in most operations, and efficient in storage.

Note that the keys MUST be unique within a dictionary, and that the _standard_ dictionary type does NOT preserve the order of keys or values.

In [45]:
favorite_foods = {'Joe': 'pizza', 
                  'Bob': 'beer', 
                  'Gina': 'spaghetti', 
                  'Anita': 'salad'}
favorite_foods['Bob'] = 'steak'
for name in sorted(favorite_foods):
    print("{}'s favorite food is {}".format(name, favorite_foods[name]))

Anita's favorite food is salad
Bob's favorite food is steak
Gina's favorite food is spaghetti
Joe's favorite food is pizza

Dictionaries are mutable, so we can definitely add and remove items (key/value pairs) to and from existing dictionaries.  Notice though that we CREATE a dictionary with curly braces, but we still use the square brackets to do indexing, even in assignments:

In [46]:
favorite_foods['George'] = 'banana'
favorite_foods['Anita'] = 'salad'
favorite_foods['Zelda'] = 'salad'
favorite_foods['Edward'] = 'steak'
favorite_foods['Edward, Jr.'] = 'steak'

print(favorite_foods.keys())
print(favorite_foods.values())

dict_keys(['Joe', 'Bob', 'Gina', 'Anita', 'George', 'Zelda', 'Edward', 'Edward, Jr.'])
dict_values(['pizza', 'steak', 'spaghetti', 'salad', 'banana', 'salad', 'steak', 'steak'])

In [49]:
favorite_foods

{'Anita': 'salad',
 'Bob': 'steak',
 'Edward': 'steak',
 'Edward, Jr.': 'steak',
 'George': 'banana',
 'Gina': 'spaghetti',
 'Joe': 'pizza',
 'Zelda': 'salad'}

### Sometimes we might want to invert a dictionary (swap the keys and values)

In [51]:
flipped = {}
for k in favorite_foods.keys():
    v = favorite_foods[k]
    if v not in flipped:
        flipped[v] = k
    else:
        flipped[v] += ', ' +k 

print(flipped)
for food in sorted(flipped):
    print("{}'s favorite food is {}".format(flipped[food], food))

{'pizza': 'Joe', 'steak': 'Bob, Edward, Edward, Jr.', 'spaghetti': 'Gina', 'salad': 'Anita, Zelda', 'banana': 'George'}
George's favorite food is banana
Joe's favorite food is pizza
Anita, Zelda's favorite food is salad
Gina's favorite food is spaghetti
Bob, Edward, Edward, Jr.'s favorite food is steak

There is a problem with the above code though...  what is it?

If more than one VALUE is the same, it will only retain the LAST associated key in the 'flipped' dictionary.  So we need to improve the algorithm to check for duplicate values (the food name) and store multiple names with that key.

One way to do it is like this:

In [52]:
flipped = {}
for k in favorite_foods.keys():
    v = favorite_foods[k]
    if v not in flipped.keys():
        flipped[v] = k
    elif isinstance(flipped[v], str):
        flipped[v] = [flipped[v], k]
    else:
        flipped[v].append(k)

flipped

{'banana': 'George',
 'pizza': 'Joe',
 'salad': ['Anita', 'Zelda'],
 'spaghetti': 'Gina',
 'steak': ['Bob', 'Edward', 'Edward, Jr.']}

The problem with the previous solution though is it produces an inconsistent data structure, where some values are bare strings, and others are lists of strings.  

So a better and simpler approach is to make ALL the values into lists of strings, even if there's only one name in that list:

In [53]:
flipped = {}
for k in favorite_foods.keys():
    v = favorite_foods[k]
    if v not in flipped.keys():
        flipped[v] = [k]
    else:
        flipped[v].append(k)

print(flipped)

{'pizza': ['Joe'], 'steak': ['Bob', 'Edward', 'Edward, Jr.'], 'spaghetti': ['Gina'], 'salad': ['Anita', 'Zelda'], 'banana': ['George']}

In [54]:
for food in flipped:
    print(food, 'is liked best by ', end='')
    for name in flipped[food]:
        print(name, end=', ')
    print()

pizza is liked best by Joe,
steak is liked best by Bob, Edward, Edward, Jr.,
spaghetti is liked best by Gina,
salad is liked best by Anita, Zelda,
banana is liked best by George,

In [55]:
for food in flipped:
    print(food, 'is liked best by ', end='')
    print(', '.join(flipped[food]))

pizza is liked best by Joe
steak is liked best by Bob, Edward, Edward, Jr.
spaghetti is liked best by Gina
salad is liked best by Anita, Zelda
banana is liked best by George

# Converting dictionaries
Note that although we can convert from dictionaries to other data types, it's not as straightforward. Python doesn't know what we really want to do with the data structure.

In [56]:
list(favorite_foods)  # this ends up creating a list of the keys, and ignoring the values.

['Joe', 'Bob', 'Gina', 'Anita', 'George', 'Zelda', 'Edward', 'Edward, Jr.']

In [57]:
list(favorite_foods.values())  # this is a way to make a list of the values (ignoring the keys)

['pizza', 'steak', 'spaghetti', 'salad', 'banana', 'salad', 'steak', 'steak']

## File Input/Output
Many data files we use in Python are some type of "text" files.  These include plain text, CSV (comma-separated values), TSV (tab-separated values), and even XML or HTML files.  Python works with text files by applying "character encoding" to properly interpret and format the data characters.

In this example, we create (output) the list of tree species into a new file, one per line:

In [58]:
tree_list = list(trees)

In [59]:
with open('tree_species.txt', 'w') as f:
    for tree in tree_list:
        print(tree, file=f)

Next, we read in the textfile into a list:

In [73]:
with open('tree_species.txt', 'r') as input_file:
    print(type(input_file))
    new_tree_list = input_file.readline()  
    # readlines() scoops every line into a string, stored as an item in a list
new_tree_list

<class '_io.TextIOWrapper'>

['white oak\n']

Notice that worked, except it included the newline characters, keeping them at the end of each item.  We don't really want that in the data.  There are many ways to remove or avoid that behavior, one way is below:

In [61]:
with open('tree_species.txt', 'r') as input_file:
    new_tree_list = input_file.read().splitlines(keepends=False) 
    # This approach reads the whole file as one string, then splits into a list
    # of individual lines in a separate step while discarding the line endings.

print(new_tree_list)

['white oak', 'black walnut', 'red maple', 'silver maple', 'cottonwood', 'holly', 'white pine', 'red cedar', 'blue spruce', 'hemlock']

In the next example, we read (input) that same file into a list, sort it, and then write a new file called 'sorted_tree_species.txt'

In [62]:
with open('tree_species.txt', 'r') as input_file:
    new_tree_list = input_file.read().splitlines(keepends=False) 

with open('sorted_tree_species.txt', 'w') as output_file:
    for tree in sorted(new_tree_list):
        print(tree, file=output_file)

## Incremental file reading
The above examples used the file methods read() and readlines(), both of which normally read the ENTIRE file into memory.  But for many situations, we don't want to read the whole data stream at once, or possibly we _can't_ because some other process is simultaneously adding data to the same file or stream.  So we must also be comfortable with incremental file processing, and I expect you to do this properly in Assignment 2.

The most common ways to do this are to:
 * Read one line at a time and process it. (This works with text files only)
 * Read (up to) a specified number of bytes at a time.

Simple example of generating a big text file with an unknown quantity of numbers on each line:

In [63]:
from random import randint

num_lines = randint(100,300)  # randomize the length of the file

with open('random_numbers.txt', 'w') as f:
    for i in range(num_lines):
        nums_per_line = randint(2, 8) # Randomize how many distinct numbers we put on this line
        s = '' # initialize a blank string
        for j in range(nums_per_line):
            # Generate a new random number between 1 & 1000, inclusive:
            n = randint(1, 1000)
            s += str(n) + ' '  # convert integer to string and concatenate with a space
        print(s, file=f)

Simple example to read that file of numbers, *one line at a time* and process it to compute the sum for each line.

In [65]:
with open('random_numbers.txt', 'r') as f:
    # We don't necessarily know how long the file is, but we can still use a for loop:
    for line in f:   # reads ONLY ONE line from the file, and stops when hits end of file.
        values_on_line = line.split()  # Split string at spaces into list of "words" which are number strings.
        line_total = 0  # initialize to zero
        
        for value in values_on_line:
            # check if it's convertible to an integer as expected:
            try:
                n = int(value)
            except ValueError:
                print('WARNING: ignoring invalid non-integer value found:', value)
                n = 0 
            line_total += n  # accumulate the line total
        print(line, ' totals to: ', line_total)  # output the line total

573 756 945 199 338 129 146
  totals to:  3086
651 943 291 311 134 705 238 474
  totals to:  3747
762 761 93 604 602 430
  totals to:  3252
216 287
  totals to:  503
119 889 493
  totals to:  1501
237 848 731 749
  totals to:  2565
349 539
  totals to:  888
897 898
  totals to:  1795
992 723 551
  totals to:  2266
674 966 789 366 428 521 922 722
  totals to:  5388
937 222 356
  totals to:  1515
239 938 677 465 286
  totals to:  2605
405 957 831 951
  totals to:  3144
192 736 237 566
  totals to:  1731
664 188 480 83 371 424 140
  totals to:  2350
41 343 79
  totals to:  463
435 978
  totals to:  1413
624 924 668
  totals to:  2216
430 683 832 107 734
  totals to:  2786
405 470 84 552
  totals to:  1511
192 40 938 860 175 67 635
  totals to:  2907
308 997 249 432 449
  totals to:  2435
291 631 99 876 824 118
  totals to:  2839
100 901 738 25 662 373 480
  totals to:  3279
201 648 381 557 298
  totals to:  2085
711 504 143
  totals to:  1358
470 711 31 401 700 98 686 325
  totals to:  3422
496 427 554 831 930
  totals to:  3238
711 341 751 639 176 20 924
  totals to:  3562
947 887 432
  totals to:  2266
348 334 572
  totals to:  1254
644 149 535
  totals to:  1328
35 975 629 527 672 20 211
  totals to:  3069
848 726 74 991 62 18 853 277
  totals to:  3849
278 559
  totals to:  837
203 503
  totals to:  706
758 577 56 326 5 701 324
  totals to:  2747
181 167 307 653 196 819 952
  totals to:  3275
172 748 680 988 712
  totals to:  3300
185 107 78 988 967
  totals to:  2325
437 689 783 237 664 195 312
  totals to:  3317
312 310 530 822 921 308 252 10
  totals to:  3465
643 780 61 412 221 877 54
  totals to:  3048
664 49
  totals to:  713
116 804 774 287 984
  totals to:  2965
440 977 988
  totals to:  2405
972 526 630 805
  totals to:  2933
614 895 77 777 938 698 300 886
  totals to:  5185
776 309 261 845 831 377 259 178
  totals to:  3836
836 760 309 848 771 15 358
  totals to:  3897
490 180 290 372 602
  totals to:  1934
882 650 940 434 763 357 388 780
  totals to:  5194
140 94 207 844 579 430
  totals to:  2294
993 789 98 729
  totals to:  2609
822 676 869 566 134
  totals to:  3067
658 307 723 87
  totals to:  1775
338 976
  totals to:  1314
961 690 481 510 559 460 792
  totals to:  4453
377 863
  totals to:  1240
166 496 303 289 117 523 817
  totals to:  2711
659 912 525 256
  totals to:  2352
726 988 677
  totals to:  2391
881 997
  totals to:  1878
356 914 334
  totals to:  1604
492 80 421 633 469 798 541 783
  totals to:  4217
741 123 969 554 207 955 967
  totals to:  4516
362 859
  totals to:  1221
719 85 133 149 726 752
  totals to:  2564
174 693 695
  totals to:  1562
882 662
  totals to:  1544
480 312
  totals to:  792
153 855 595 194
  totals to:  1797
70 291 745 767 448 384 963 800
  totals to:  4468
429 751 637 40 706 638 654
  totals to:  3855
151 802 276 206 892 123 156
  totals to:  2606
832 989 984 904
  totals to:  3709
659 874 660
  totals to:  2193
277 163 485 882 826
  totals to:  2633
315 924 382 527 877
  totals to:  3025
934 126 920
  totals to:  1980
462 165
  totals to:  627
95 434 950 552 417 845 192
  totals to:  3485
281 293
  totals to:  574
609 237 755 114 746
  totals to:  2461
334 605 115 981 719 192 413
  totals to:  3359
504 724 752 526
  totals to:  2506
619 847 673 847
  totals to:  2986
889 471
  totals to:  1360
575 966 133
  totals to:  1674
486 182 893
  totals to:  1561
462 629 725 885 731 445
  totals to:  3877
478 472 865 172 351 126 305
  totals to:  2769
460 421 3
  totals to:  884
460 311 523 700
  totals to:  1994
2 823 771 551 802 307 403
  totals to:  3659
364 285 769 974 561 677 799
  totals to:  4429
917 661 734 272 295
  totals to:  2879
82 264 232 127 14 125 359
  totals to:  1203
937 76 460 319
  totals to:  1792
881 138 503 395 2
  totals to:  1919
26 172 49 238
  totals to:  485
171 607 763 53 509 598 411 91
  totals to:  3203
421 306 966 330 209
  totals to:  2232
165 913 765 30 181 530
  totals to:  2584
817 236 30 386 188
  totals to:  1657
930 184 160
  totals to:  1274
292 285 195 87 5 47
  totals to:  911
699 606 241 308 443 454 666
  totals to:  3417
548 551
  totals to:  1099
927 409 738 434 770 628
  totals to:  3906
109 916 807 845 900 337 691
  totals to:  4605
407 997 855 391 263 301 823 206
  totals to:  4243
743 86
  totals to:  829
203 679 969
  totals to:  1851
143 527 160 218 76
  totals to:  1124
141 517
  totals to:  658
263 189 137 545 720
  totals to:  1854
105 468 120
  totals to:  693
476 122 945 401 246 728 16 310
  totals to:  3244
804 584 607 204 330
  totals to:  2529
182 122 504 695 375 422 667
  totals to:  2967
727 606
  totals to:  1333
379 674 127 588
  totals to:  1768
702 189 931 115 507 511
  totals to:  2955
154 977 272 887 261 661 709
  totals to:  3921
522 133 990 726 275
  totals to:  2646
180 87 549 411 308 170 560
  totals to:  2265
465 729
  totals to:  1194
987 752 337 480 296 176 896
  totals to:  3924
613 981 711 811 826 360 953
  totals to:  5255
66 862 520 749 519 353 37
  totals to:  3106
390 164
  totals to:  554
464 704 242 534 915
  totals to:  2859
337 933 270 301 129 42 389
  totals to:  2401
63 411 169 439 673 711
  totals to:  2466
169 266 359 717
  totals to:  1511
366 248 263 533 551 654 656 959
  totals to:  4230
168 626 252 254 446 512 550 272
  totals to:  3080
83 567 680 526 214 876 81
  totals to:  3027
650 893 507
  totals to:  2050
398 842 501 532 537
  totals to:  2810
360 243 825 845 952 106
  totals to:  3331
449 798 448 463
  totals to:  2158
302 317 520 967 31
  totals to:  2137
490 404 47 424 416
  totals to:  1781
640 493 234 914 322 793
  totals to:  3396
265 802 965
  totals to:  2032
301 876 619
  totals to:  1796
629 648
  totals to:  1277
27 917 341 694 981
  totals to:  2960
674 169
  totals to:  843
990 256 588 789
  totals to:  2623
534 166 957
  totals to:  1657
231 842
  totals to:  1073
976 756 768 971 599 59 216
  totals to:  4345
568 49 972 657 264 50 941
  totals to:  3501
97 627 834 521 915
  totals to:  2994
222 228 760
  totals to:  1210
218 807 248 232 296
  totals to:  1801
705 681 592
  totals to:  1978
627 328 454
  totals to:  1409
350 688 593 829 306 879 906
  totals to:  4551
414 707 457 423 723 476 284 45
  totals to:  3529
158 934 476
  totals to:  1568
458 909 432 380 428 305 973 33
  totals to:  3918
202 852 386 672 142 176
  totals to:  2430
557 938 987 234 913
  totals to:  3629
609 226 538 479 529 905
  totals to:  3286
332 704
  totals to:  1036
87 893 215 458 498 732
  totals to:  2883
272 549 336 121 24 624 33 12
  totals to:  1971
333 666 585 296
  totals to:  1880
117 557 235 57 21 166 903
  totals to:  2056
161 742 345
  totals to:  1248
413 114
  totals to:  527
734 988 893 344 505 592
  totals to:  4056
994 407 78 661 245 630 110
  totals to:  3125
40 274 727 919
  totals to:  1960
304 24 606 849
  totals to:  1783
617 374 469 897 136 488 44 903
  totals to:  3928
108 102 725 904 112 539
  totals to:  2490
181 824 787 628 217 236
  totals to:  2873
345 780 994 760 380 18 123
  totals to:  3400
100 105 198
  totals to:  403
915 175 630 812 497 96
  totals to:  3125
125 174 450
  totals to:  749
839 135 865 740
  totals to:  2579
950 675 544
  totals to:  2169
533 492 527 236 277
  totals to:  2065
509 636 630 288 977 120 562 827
  totals to:  4549
960 421 120
  totals to:  1501
931 306 370 931
  totals to:  2538
647 752 518 6 358
  totals to:  2281
229 940 557 393 789 913 980
  totals to:  4801
793 805 477 973 434 110 160 959
  totals to:  4711
264 9
  totals to:  273
344 726 960 538 347 494 220 219
  totals to:  3848
59 544
  totals to:  603
748 752
  totals to:  1500
484 873 816 873
  totals to:  3046
998 226 459
  totals to:  1683
97 390 765
  totals to:  1252
557 784 610 995 1 765 335
  totals to:  4047
61 435 385 127 314 868
  totals to:  2190
779 269 558
  totals to:  1606
28 251 336 864
  totals to:  1479
686 926 931 951 353 797 81 936
  totals to:  5661
922 580 690 210 166 942
  totals to:  3510
216 818 729 226 862 377
  totals to:  3228
98 992 455 731 658 627 399 258
  totals to:  4218
306 227 512 666 789 233 229 188
  totals to:  3150
891 115 540 320 513 234
  totals to:  2613
346 926 55 341 842
  totals to:  2510
520 926 555 855
  totals to:  2856
937 479
  totals to:  1416
228 317 286 520 334 692
  totals to:  2377
780 613 33 544
  totals to:  1970
664 389 710 803 826 723 399
  totals to:  4514
65 446 150 481 329 592 716 446
  totals to:  3225
32 409 175 51 820 272
  totals to:  1759
929 495
  totals to:  1424
856 976 31 182 523
  totals to:  2568
436 753 720 13
  totals to:  1922
933 119 132 527
  totals to:  1711
11 908 22 375
  totals to:  1316
123 911 152 247 245 595 251 647
  totals to:  3171
35 638 821 636 526 805 890 949
  totals to:  5300
461 311 449 376 4 332 159 376
  totals to:  2468
71 769 127 973 473 72 721
  totals to:  3206
189 178 110 999
  totals to:  1476
706 381 808 597 396 491 468 949
  totals to:  4796
142 970 171 314 953 298 349 276
  totals to:  3473
886 40 401
  totals to:  1327
620 73 74 738 957 363 323 696
  totals to:  3844
861 464
  totals to:  1325
639 906 911 899
  totals to:  3355
972 542 893 783 794 675 646 946
  totals to:  6251
363 646 118
  totals to:  1127
498 283
  totals to:  781
538 765 355 139
  totals to:  1797
262 153 363 811 193
  totals to:  1782
67 937 990 776 986 252
  totals to:  4008
552 304 545 141
  totals to:  1542
406 804 934 220
  totals to:  2364
298 767 419 208 687
  totals to:  2379
699 354 729
  totals to:  1782
30 852 903 868 388
  totals to:  3041
898 886 577 374
  totals to:  2735
667 135 879 464 317 230
  totals to:  2692
842 97 102 176 881 53 123
  totals to:  2274
703 31 878 575 311 858 79
  totals to:  3435
302 877 676 408 747 973 20 560
  totals to:  4563
633 400
  totals to:  1033
791 635 77 566 170 692 258 992
  totals to:  4181
92 643 690 574 143 137 75
  totals to:  2354
721 946 200 436 449 964
  totals to:  3716
664 842 423 411
  totals to:  2340
940 430 939
  totals to:  2309
876 816 629 72
  totals to:  2393
8 459 549 427 504
  totals to:  1947
248 51 832 569 432 982 382
  totals to:  3496
946 393
  totals to:  1339
418 202 690 362 221 590
  totals to:  2483
792 524 39 872
  totals to:  2227
43 864 639 331 260 110 811 391
  totals to:  3449
131 694 87 21
  totals to:  933
856 440 489 532 330 482 206
  totals to:  3335
427 775 421 148 944
  totals to:  2715
280 26 541 859 116
  totals to:  1822
626 135 1 621 390 668 163
  totals to:  2604
975 943
  totals to:  1918
138 720 792
  totals to:  1650
222 251 923
  totals to:  1396
612 556 635 667 938 669 536 731
  totals to:  5344
883 825 605 212 509 544 42 176
  totals to:  3796
63 737 263 658 905 111 723
  totals to:  3460
476 401 636 477 145
  totals to:  2135
70 618 335 318 969 36 867
  totals to:  3213
137 978 794 481 191
  totals to:  2581
642 383 968 977 818 486 905
  totals to:  5179
866 884 430 439 149 406 887 840
  totals to:  4901
520 536 571 727 425
  totals to:  2779
744 646 37 192 489
  totals to:  2108
13 111 649 628 196
  totals to:  1597
988 699 690 305 905
  totals to:  3587
481 467
  totals to:  948

## Exception Handling / error-checking
That code above worked properly, but it could be more robust. In other words, it doesn't have complete error-checking. For example, what if the file doesn't exist or can't be opened?  We'll look at that in PyCharm...

## Debugging
Debugging is arguably either limited or complicated in Jupyter Notebooks, depending on your point of view. Let's have a look at the stepping debugger tools in PyCharm...